{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets":{
          "chrome":"79",
          "ie": "11"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/transform-runtime",
    "@babel/plugin-transform-arrow-functions"
  ]
}